<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="footer" class="bg-dark text-white mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>家具商城</h5>
                    <p class="text-muted">专业的家具在线销售平台</p>
                </div>
                <div class="col-md-4">
                    <h5>快速链接</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/}" class="text-muted text-decoration-none">首页</a></li>
                        <li><a th:href="@{/products}" class="text-muted text-decoration-none">商品</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>联系我们</h5>
                    <p class="text-muted mb-0">电话: 400-123-4567</p>
                    <p class="text-muted">邮箱: support@furniture.com</p>
                </div>
            </div>
            <hr class="my-4">
            <div class="text-center text-muted">
                <p>&copy; 2024 家具商城 版权所有</p>
            </div>
        </div>
    </div>
</body>
</html>
